@media screen and (max-width:576px) {

    /*======================
        MULTIPLE USE CSS
    =======================*/

    .nav-bar,.hero-area,.habit,.training,.team,.footer,.subscription{
        padding: 0 2rem;
    }

    .hero-area-content>h1,
    .run-content,
    .run-content p,
    .subscription>p{
        width: 100%;
    }

    .hero-area,
    .run,.BMI-info,
    .cart{
        flex-direction: column;
    }

    .btn{
        padding: 16px 20px;
    }
    
    .card-habit{
        grid-template-columns: 1fr;
    }



    /*===============
        MAIN CSS
    ================*/

    /* ------------------------------ Header ------------------------------ */

    /* nav-bar area */

    .nav-bar{
        padding: 3.25rem 1.5rem;
    }
    .nav-bar ul li{
        display: none;
        padding: 0;
    }
    .nav-bar ul{
        border:none;
    }
    .nav-bar ul li:nth-child(5){
        display: block;
    }

    /* hero-area section */

    .hero-area-content>h1{
        font-size: 3rem;
    }
    .hero-area-content>p{
        width: 75%;
    }
    .div1{
        top:10%;
        right: -10%;
    }
    .div2{
        bottom: 40%;
        left: -10%;
    }


    /* ------------------------------ Main ------------------------------ */

    /* habit section */

    .card{
        padding: 20px 30px;
    }

    /* Run section */

    .run{
        row-gap: 40px;
        margin: 0 2rem 100px 2rem;
    }
    .join{
        width: 100%;
    }
    .run-image{
        width: 100%;
    }

    /* Training section */

    .training-image .grid1{
        grid-template-columns: 1fr 1fr;
    }
    .training-image .grid2{
        grid-template-columns: 1fr 1.15fr;
    }
    .img-3, .img-6{
        display: none;
    }


    /* BMI section */

    .BMI-info{
        padding: 3rem 2rem;
    }
    .BMI-info> div h3, .BMI-form p{
        text-align: center;
    }
    .BMI-chart table{
        margin: 0 auto;
    }


    /* Team section */

    .team-member{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        background-color: var(--background5);
        border-radius: 18px;
        padding: 20px;
    }


    /* Subscription section (Challenge) */

    .cart{
        gap: 40px;
    }
    .cart-1,.cart-2{
        padding: 2rem 2rem;

    }


    /* ------------------------------ footer ------------------------------ */

    .footer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }
    .footer div{
        padding: 2rem 0;
    }
    .copyright{
        margin: 0 1rem;
    }

}