/*=================
    COMMON CSS
==================*/

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --highlight:rgb(230, 83, 60);
    --background1:rgb(17, 17, 17);
    --background2:rgba(119, 119, 119, 0);
    --background3:rgb(185, 185, 185);
    --background4:rgb(34, 34, 34);
    --background5:rgba(255, 255, 255, 0.1);
    --white:rgb(255,255,255);
    --font:rgba(255, 255, 255, 0.5);
}

body{
    font-family: "Inter", sans-serif;
}

/*======================
    MULTIPLE USE CSS
=======================*/

.width{
    max-width: 1250px;
}

.margin{
    margin: 0 auto;
}

.flex{
    display: flex;
}

p{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--font);
    line-height: 1.5;
}

h2{
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
}

a{
    text-decoration: none;
}

.btn{
    padding: 16px 40px;
    background-color: var(--highlight);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.btn a{
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--white);
}



/*===============
    MAIN CSS
================*/

/* ------------------------------ Header ------------------------------ */

/* nav-bar area */

header{
    background: linear-gradient(180deg, rgb(17, 17, 17),rgb(40, 40, 40) ,rgb(17, 17, 17));
}

.nav-bar{
    padding: 3.25rem 0;
    justify-content: space-between;
    align-items: center;
}
.nav-bar h1{
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--highlight);
}
.nav-bar ul{
    column-gap: 60px;
    padding: 4px;
    border: 1px solid var(--background5);
    border-radius: 40px;
}
.nav-bar ul li{
    list-style: none;
    padding: 8px 20px;
    cursor: pointer;
    transition:0.8s ;
}
.nav-bar ul li:nth-child(1){
    background-color: var(--highlight);
    border: none;
    border-radius: 40px;
}
.nav-bar ul li a{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--white);
}
.nav-bar ul li:nth-child(5){
    display: none;
}



/* hero-area section */

.hero-area{
    justify-content: space-around;
    align-items: center;
    gap: 5.5rem;
}
.hero-area-content>h1{
    width: 70%;
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 1.75rem;
    color: var(--white);
}
.hero-area-content>h1>span{
    font-family: "Dancing Script", cursive;
    font-weight: 400s;
}
.hero-area-content>p{
    width: 60%;
    font-size: 1rem;
    margin-bottom: 1.75rem;
}
.club{
    margin-right: 16px;
}
.download{
    background-color: transparent;
    border: 1px solid var(--white);
}

.hero-area-image{
    position: relative;
}
.div1,.div2{
    position: absolute;
    padding: 15px 24px;
    background-color: var(--background5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
.div1>h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--white);
}
.div1{
    top:20%;
    right: -20%;
    transition-duration: 1s;
}
.div2{
    align-items: center;
    column-gap: 20px;
    bottom: 15%;
    left: -25%;
}
.div2 i{
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    background-color: var(--white);
    border-radius: 50%;
    border: none;
}
.div2 div h1{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--white);
    margin-bottom: 5px;
}
@media screen and (max-width:1400px) {
    .div1{
        top:20%;
        right: 0;
    }
}