@media screen and (min-width:576px) and (max-width:992px) {

    /*======================
        MULTIPLE USE CSS
    =======================*/

    .nav-bar,.hero-area{
        padding: 0 2rem;
    }

    .hero-area-content>h1{
        width: 100%;
    }

    .hero-area{
        flex-direction: column;
    }

    .btn{
        padding: 16px 20px;
    }








    /*===============
        MAIN CSS
    ================*/

    /* ------------------------------ Header ------------------------------ */

    /* nav-bar area */

    .nav-bar ul{
        column-gap: 10px;
    }
    .nav-bar{
        padding: 3.25rem 1.5rem;
    }

    /* hero-area section */

    .hero-area-content>p{
        width: 75%;
    }

    
}